<!DOCTYPE html>
<html>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
				<h2>
					FermEye Live
				</h2>
				<p>
					This portal allows you to navigate through all of the available MFRD camera feeds in lab 176 at 9000 Development Drive in RTP
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Tank 01 - MFRD1
			</h2>
			<img alt="Bootstrap Image Preview" style="width: 200px; height: auto;" src="{{ url_for('static', filename='media/Tank1.jpg') }}" /> 
			
			<p>
				10L tank
			</p>
			<p>
				<a class="btn" href="http://10.199.30.94:9000/video_page">Open Stream »</a>
			</p>
		</div>
	</div>
</div>
</html>